.header-container{
	align-items: center;
	padding: 20px 0px;
}

.header-text {
	text-align: center;
}

.banner-box {
	align-items: center;
	padding: 20px 0px;
}

.map-table {
	border: 2px solid #33FFE3;
	align-items: center;
	width: 100%

}

table, th, td {
  border: 1px solid black;
  text-align: center;
}

.table-header {
	border: 2px solid #33FFE3;
	align-items: center;
}

/*flex container css code*/
.map-container {
	display: flex;
    
}

.flex-left-side {
	flex: 0.75;
}

.flex-right-side {
	flex: 0.25;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
